{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Couch Potato</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  </head>
  <body>

    {% include "navbar.html" %}

    <!-- <div>
      <h3 id=local_date_time></h3>
      <h3 id=utc_date_time></h3>
      <h3 id=utcgen_date_time></h3>

    </div> -->

     <div class="container" style="margin-top: 100px;align-items: center;">
        <!-- <button type="button" class="btn btn-primary btn-lg btn-block">CREATE</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">UPDATE</button> -->

        <nav class="nav nav-pills nav-justified">
            <a class="btn btn-primary btn-lg btn-block" href="/create/1">CREATE</a>
            <a class="btn btn-secondary btn-lg btn-block" href="/uv">UPDATE</a>
        </nav>
    
      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <script>
        //  var d = new Date('11/24/2020 5:25 PM');
         var d = new Date();
         var utc = new Date(d.getTime() + d.getTimezoneOffset() * 60000);
         $('#local_date_time').html(d.toLocaleString())
         $('#utc_date_time').html(d.toUTCString())
         $('#utcgen_date_time').html(utc.toString())


      </script>
  </body>
</html>