
<!doctype html>
<html lang="en">
  <head>

    <title>Block Chain</title>


    <!-- Required meta tags -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap.min.css">

    <style>

div.fw-container {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    clear: both;
    padding: 0 1em;
    box-sizing: border-box;
}


div.fw-container div.fw-body {
     
    /* padding: 0 1em; */
    box-sizing: border-box;
    position: relative;
}

body.wide div.fw-body {
    width: 80%;
    float: right;
}

div.fw-container div.fw-body div.content {
    position: relative;
    margin-top: 7em;
} 

/* body {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
    color: #333;
} */

    </style>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js"></script>
    
    <script type="text/javascript" class="init">
	


        $(document).ready(function() {
            $('#example').DataTable( {
                "initComplete": function(settings, json) {
                
                $("#example_wrapper").removeClass('form-inline');
                // $(".fw-body").css('width','100%')

               


            },
                columnDefs: [
                {
                    "targets": [ 11],
                    "visible": false,
                 },
            
                {
                    "targets": [ 9],
                    "visible": false,
                 }, 
            ],
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal( {
                            header: function ( row ) {
                                var data = row.data();
                                return 'Details for '+data[0]+' '+data[1];
                            }
                        } ),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                            tableClass: 'table'
                        } )
                    }
                }
            } );
        } );
        
        
        
            </script>
 
  </head>
  <body class="wide comments example dt-example-bootstrap">
    {% include "navbar.html" %}

       <div class="fw-container">
        <div class="fw-body">
    


        <table id="example" class="table table-striped table-bordered display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Season</th>
                    <th>Start Time</th>
                    <th>Event Group ID</th>
                    <th>Scores</th>
                    <th>Status</th>
                    <th>In Progress</th>
                    <th>Finish</th>
                    <th>Result</th>
                    <th>Cancelled</th> 
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
        
                {% for  a , b  in data.items %}
                    
                <tr>
                    
                    <td>{{b.id}}</td>
                    <td>
                    {% for i in b.name %}
                        {{i.1}}
                    {%endfor%}
                    </td>
                    <td>
                        {% for i in b.season %}
                        {{i.1}}
                    {%endfor%}
                    </td>
                    <td>{{b.start_time}}</td>
                    <td>{{b.event_group_id}}</td>
                    <td>{{b.scores}}</td>
                    <td>{{b.status}}</td>
                    
                    <td   >
                        <button  onclick="progress(this)">In Progress</button>
                    </td>
                    <td   >
                        <button onclick="finish(this)">Finish</button>
                    </td>
                    <td   >   
                
                        <button onclick="result(this) "> Result</button>
                    </td >
                    <td  >
                        <button onclick="cancel(this)">Cancelled</button>
                    </td> 
                    <td  >
                        {{b}}
                    </td>
                </tr>
        
                {% endfor %}
            </tbody>
        
        </table>
        </div>
        </div>
        
   </body>
   </html>