<!doctype html>
<html lang="en">

<head>
 
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"> -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">


   
</head>



    


 <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Season</th>
            <th>Start Time</th>
            <th>Event Group ID</th>
            <th>Scores</th>
            <th>Status</th>
            <th>In Progress</th>
            <th>Finish</th>
            <th>Result</th>
            <th>Cancelled</th>
        </tr>
    </thead>
    <tbody>

        {% for  a , b  in data.items %}
             
        <tr>
            <td>{{b.id}}</td>
            <td>
            {% for i in b.name %}
                {{i.1}}
            {%endfor%}
             </td>
            <td>
                 {% for i in b.season %}
                {{i.1}}
            {%endfor%}
            </td>
            <td>{{b.start_time}}</td>
            <td>{{b.event_group_id}}</td>
            <td>{{b.scores}}</td>
            <td>{{b.status}}</td>
             
            <td>
                <button>In Progress</button>
            </td>
            <td>
                <button>Finish</button>
            </td>
            <td>
                <button>Result</button>
            </td>
            <td>
                <button>Cancelled</button>
            </td>
        </tr>

        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Season</th>
            <th>Start Time</th>
            <th>Event Group ID</th>
            <th>Scores</th>
            <th>Status</th>
            <th>In Progress</th>
            <th>Finish</th>
            <th>Result</th>
            <th>Cancelled</th>
        </tr>
    </tfoot>
</table>



</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

   

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js|https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>




<script>

$(document).ready(function() {

    

    $(document).ready(function() {
    $('#example').DataTable( {
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        return 'Details for '+data[0]+' '+data[1];
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll()
            }
        }
    } );
} );
 
    $('#example tbody').on( 'click', 'button', function () {
        var data = table.row( $(this).parents('tr') ).data();
        alert( data[0] +"'s salary is: "+ data[ 5 ] );
    } );
} );
    </script>

 

</html>