<!doctype html>
<html lang="en">

<head>
    <title>Couch Potato</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap.min.css">



 
   <style> 
       table td { 
        display:  table-cell !important;
        
         }
         
        table th { 
        display: table-cell  !important;
         } 

         .modal table td{
            border: 1px solid;
            padding:20px;
         }
 
         button{
            font-weight: bold;
         }

      .box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header .close{
    margin: -9px 0px 0px -24px !important
}
 
 

   </style>
</head>

<body>
    {% include "navbar.html" %}

    <div class=box>
 <div class=container-flex style="padding:20px" >
	 
	     <h4 id=local_date_time></h4>




      <div  style='margin-top:50px;'>
    <!-- <table id="example" class="table table-striped table-bordered display nowrap" style="width:100%"> -->
        <table id="example"  class="table table-bordered">
        <thead>
            <tr>
                 

                <th>Event on Chain</th>
                <th>Event</th>
                <th>Update from Feed</th>
                <th>Feed</th>
                <th>Scores</th>
                <th>Call</th>
                <th>Start Time in Local Time</th>
            </tr>
        </thead>
        <tbody>
    
            {% for  a , b  in data.items %}
                   
            <tr>
                <td style="width:17%">
                    {{b.eventFromChain}}
                </td>
                <td style="width:18%">
                    <ul>
                        <li>
                            <label>Name </label> <font style="color:darkcyan;font-weight: bold;"> {{b.eventFromChain.name.0.1}} </font>
                        </li>
                        <li>
                            <label >Start Time </label> <font style="color:grey"> {{b.eventFromChain.start_time}} </font>
                        </li>
                        <li>
                            <label >Scores </label> <font style="color:green">{{b.eventFromChain.scores}} </font>
                        </li>
                        <li>
                            <label >Status </label> <font style="color:royalblue"> {{b.eventFromChain.status}} </font>
                        </li>
                        <li>
                            <label >Sport </label>  <font style="color:olive"> {{b.eventFromChain.sport}} </font>
                        </li>
                    </ul>
                        
                        
                </td>
                <td style="width:17%">
                    {{b.eventFromFeed}}
                 </td>
                 <td style="width:17%">
                    {% if b.eventFromFeed is not none%}
                    <ul>
                        <li>
                            <label>Sport </label> <font style="color:darkcyan;font-weight: bold;margin-left:10px"> {{b.eventFromFeed.id.sport}} </font>
                        </li>
                        <li>
                            <label >Start Time </label> <font style="color:grey;margin-left:10px"> {{b.eventFromFeed.id.start_time}} </font>
                        </li>
                        <li>
                            <label >Home </label> <font style="color:royalblue;margin-left:10px">{{b.eventFromFeed.id.home}} </font>
                        </li>
                        <li>
                            <label >Away </label> <font style="color:royalblue;margin-left:10px"> {{b.eventFromFeed.id.away}}  </font>
                        </li>
                        <li>
                            <label >Home Score </label>  <font style="color:red;margin-left:10px"> {{b.eventFromFeed.arguments.home_score}} </font>
                        </li>
                        <li>
                            <label >Away Score </label>  <font style="color:red;margin-left:10px"> {{b.eventFromFeed.arguments.away_score}} </font>
                        </li>
                        <li>
                            <label > Result </label>  <font style="color:olive;margin-left:10px"> {{b.eventFromFeed.call}} </font>
                        </li>
                    </ul>
                    {% endif %}
                 </td>
                
                 <td style="width:12%">
                     Home Score : <input type=text class=home value="{{b.eventFromFeed.arguments.home_score}}" /> 
                     <br><br>
                     Away Score  : <input type="text" class=away value="{{b.eventFromFeed.arguments.away_score}}" />
                </td>
                
                <td>
                    <button  class="btn-warning" onclick="progress(this)">In Progress</button><br><br>
                
                    <button class="btn-success" onclick="finish(this)">Finish</button><br><br>
                
                    <button class="btn-info" onclick="result(this) "> Result</button><br><br>
                
                    <button class="btn-danger" onclick="cancel(this)">Cancelled</button>
                </td> 


                <td  id={{b.eventFromChain.id}}> </td>
                <script>
                 

                    var date = convertUTCDateToLocalDate(new Date('{{b.eventFromChain.start_time}}')) 
                    document.getElementById('{{b.eventFromChain.id}}').innerHTML = date.toLocaleString();
                    
                    function convertUTCDateToLocalDate(date) {
                        
                        // New code
                        var newDate = new Date(date.getTime() - date.getTimezoneOffset()*60*1000);
                        // return newDate;

                        //var newDate = new Date(date);
                        return newDate;

                    }
  
                   
                </script>
                

                  
            </tr>
    
            {% endfor %}
        </tbody>
      

    </table>

   

    <span>
        <a  style="background:lavender;float: right;margin-top: 25px;" id=return_home href='/'>Return to Home</a>
      </span>
</div>

 
</div>
</div>
<script>




     function progress(e){

            var call = 'in_progress'
            var homeScore = 0
            var awayScore = 0
                
            if($(".modal").css('display') == undefined || $(".modal").css('display') == 'none'){

                var row = $(e).closest('tr');
                var data = $('#example').dataTable().fnGetData(row);
                var event = data[0]
 
            }
            else{

                    if($(".modal #score").length > 0) {
                        $('.modal.home').val('')
                        $('.modal.away').val('')
                    }
                    var event =$('.modal table').find('tr:eq(0) td:eq(1)').text();
                    
            }

            console.log(event)


            $.post("/post_update",
                    {
                    event : event,
                    call:call,
                    homeScore :  homeScore,
                    awayScore : awayScore,
                    csrfmiddlewaretoken: '{{ csrf_token }}' ,
                    },
                    function(data, status){
                    alert(data.success)
                     });
             
        }
        function finish(e){
            
            var call = 'finish'
            var homeScore = 0
            var awayScore = 0
                
            if($(".modal").css('display') == undefined ||  $(".modal").css('display') == 'none'){

                var row = $(e).closest('tr');
                var data = $('#example').dataTable().fnGetData(row);
                var event = data[0]
            }
            else{
                
                
                if($(".modal #score").length > 0) {
                    $('.modal.home').val('')
                    $('.modal.away').val('')
                }

                var event =$('.modal table').find('tr:eq(0) td:eq(1)').text();
            }

            console.log(event)
                
                $.post("/post_update",
                    {
                    event : event,
                    call:call,
                    homeScore : homeScore,
                    awayScore : awayScore,
                    csrfmiddlewaretoken: '{{ csrf_token }}' ,
                    },
                    function(data, status){
                    alert(data.success)
                     });

        }
        function result(e){
          
           

            var call = 'result'
            if($(".modal").css('display') == undefined ||  $(".modal").css('display') == 'none'){

                // .append('<div id=score><table  ><tr  ><td>Home Score </td><td style="padding-left:10px"><input type="text" id=home></td><tr><td>Away Score </td><td style="padding-left:10px"><input type="text" id=away></td><tr></table>')
                   
                var row = $(e).closest('tr');
                var data = $('#example').dataTable().fnGetData(row);
                var event = data[0] 
                var homeScore =  $(e).closest('tr').find("input.home").val()
                var awayScore =  $(e).closest('tr').find("input.away").val()
                
                console.log("event ", event)
                console.log("home score ", homeScore)
                console.log("away score " ,  awayScore)
  
            }
            else{

                
                var event =$('.modal table').find('tr:eq(0) td:eq(1)').text();
                var homeScore = $('.modal .home').val()
                var awayScore = $('.modal .away').val()
            }
           
                
            console.log("event ", event)
            console.log("home score ", homeScore)
            console.log("away score " ,  awayScore)

            // $( "#submit_result" ).bind( "click", function() {

               
                
                $.post("/post_update",
                    {
                    event : event,
                    call:call,
                    homeScore : homeScore,
                    awayScore : awayScore,
                    csrfmiddlewaretoken: '{{ csrf_token }}' ,
                    },
                    function(data, status){
                    alert(data.success)
                    });
                
             
                 

        }
        function cancel(e){

            var call = 'canceled'
            var homeScore = 0
            var awayScore = 0
                
            if($(".modal").length == 0){

                var row = $(e).closest('tr');
                var data = $('#example').dataTable().fnGetData(row);
                var event = data[0]
            }
            else{
                
                if($(".modal #score").length > 0) {
                    $('#home').val('')
                    $('#away').val('')
                }
                var event =$('.modal table').find('tr:eq(0) td:eq(1)').text();
            }
            
            console.log("event ", event)
            
            $.post("/post_update",
                {
                event : event,
                call:call,
                homeScore : homeScore,
                awayScore : awayScore,
                csrfmiddlewaretoken: '{{ csrf_token }}' ,
                },
                function(data, status){
                    alert(data.success)
                 });

 
        }
</script>
</body>



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js"></script>

<script>
 
    $(document).ready(function() {


        //  var d = new Date('11/24/2020 5:25 PM');
         var d = new Date();
         var utc = new Date(d.getTime() + d.getTimezoneOffset() * 60000);
         $('#local_date_time').html(d.toLocaleString())
         $('#utc_date_time').html(d.toUTCString())
         $('#utcgen_date_time').html(utc.toString())

        var table = $('#example').DataTable( {
            "ordering": false,
            "initComplete": function(settings, json) {
                 $("#example_wrapper").removeClass('form-inline');
                
                // setInterval(function(){ 
                    //  $("#example").addClass('collapsed');
                    //  }, 50);


            },
            columnDefs: [
                
                { 
                    orderable: false, targets: 0 
                }, 
                { 
                    orderable: false, targets: 1 
                }, 
                { 
                    orderable: false, targets: 2 
                }, 
                { 
                    orderable: false, targets: 3 
                }, 
                { 
                    orderable: false, targets: 4 
                }, 
            ],
            //   responsive: {
            //     details: {
            //         display: $.fn.dataTable.Responsive.display.modal( {
                        
            //             header: function ( row ) {
            //                 var data = row.data();
            //                 return 'Details for '+data[0]+' '+data[1];
            //             }
                        

            //         } ),
                    
            //             renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                           
            //             }
            //         )
            //     }

            // }
        } );

         

    } );

   


    </script>

     


</html>
